version: "3.8"
services:
  postgres:
    image: postgres:latest
    container_name: "postgres"
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=food_orders_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
    restart: unless-stopped