apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-food-orders
  namespace: orders
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-food-orders
  template:
    metadata:
      labels:
        app: api-food-orders
    spec:
      containers:
        - name: api-food-orders
          image: postechf57/pos-tech-g57-app-orders:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: api-config-orders
            - secretRef:
                name: api-secret
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
