name: CD

on:
  repository_dispatch:
    types: [deploy]
  workflow_dispatch: {}

jobs:

  call-reusable-deploy-workflow:
    uses: railsonribeiro/nested-reusable-java-maven-eks-fork/.github/workflows/deploy.yml@main
    with:
      cluster_name: "eks-postech-g57-railson"
      argo_app_name: "orders-api"
      namespace: "orders"
      git_repo_url: "https://github.com/railsonribeiro/pos-tech-g57-app-orders-forked"
    secrets: inherit
