name: CD

on:
  repository_dispatch:
    types: [deploy]
  push:
    branches:
      - main
    paths:
      - 'k8s/**'
  workflow_dispatch: {}

env:
  CLUSTER_NAME: "eks-postech-g57-railson"
  AWS_REGION: "us-east-1"
  NAMESPACE: "orders"

jobs:

  call-reusable-deploy-workflow:
    uses: railsonribeiro/nested-reusable-java-maven-eks-fork/.github/workflows/deploy.yml@main
    with:
      cluster_name: "eks-postech-g57-railson"
      app_name: "orders-api"
      namespace: "orders"
      git_repo_url: "https://github.com/railsonribeiro/pos-tech-g57-app-orders-forked"
    secrets: inherit
