name: CD

on:
  repository_dispatch:
    types: [deploy]
  workflow_dispatch: {}

jobs:

  call-reusable-deploy-workflow:
    uses: rachelkozlowsky/nested-reusable-java-maven-eks/.github/workflows/deploy.yml@main
    with:
      cluster_name: "eks-postech-g57"
      argo_app_name: "orders-api"
      namespace: "orders"
      git_repo_url: "https://github.com/rachelkozlowsky/pos-tech-g57-app-orders"
    secrets: inherit
